snippet e "\emph{}" w
\emph{$1}
endsnippet

snippet bf "\textbf{}" w
\textbf{$1}
endsnippet

snippet tt "\texttt{}" w
\texttt{$1}
endsnippet

snippet inc "\includegraphics{}" w
\includegraphics[scale=${2:${VISUAL:1}}]{$1}
endsnippet
